body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

:root {
    --drkRd: rgba(178, 38, 6);
    --ltRd: rgba(255, 112, 79);
    --mainCol: rgba(79, 255, 192);
    --drkGrn: rgba(37, 178, 128);
    --ltGrn: rgba(104, 255, 201);
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

#quiz-app-img, #second-app-img {
  max-width: 500px;
}

nav, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: var(--drkRd);
}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  right: 0;
}

nav a {
  color: whitesmoke;
}

nav a:hover {
  text-shadow: 5px 5px 5px black;
}

nav element:hover {
  cursor: pointer;
}

.hero, .projects-container, .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150vh;
  position: sticky;
  padding: 15px;
}

.hero {
  background-color: black;
}

.projects-container {
  background-color: blue;
}

.about-container {
  background-color: red;
}

.hero p, .about-me {
  max-width: 500px;
}

.hero {
  height: 100vh;
  color: whitesmoke;
}

.hero h1 {
  text-align: left;
}

.projects-container {
  color: whitesmoke;
}

.app-cards {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  max-width: 90vw;
  border-radius: 10px;
}

.projects-container h4 {
  padding: 10px;
}



.demo-link {
  background-color: var(--drkGrn);
  color: whitesmoke;
  border-radius: 5px;
  vertical-align: -webkit-baseline-middle;
  padding: 10px;
}

.about-me h1, .about-me p{
  padding: 10px;
}

#quiz-app-img, #second-app-img, #third-app-img {
  width: 70vw;
  padding: 10px;
}

.app-details {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.app-cards li h4 {
  font-size: 30px;
}

.fas.fa-envelope {
  font-size: 30px;
  color: black;
}

.about-container {
  color: whitesmoke;
    background-repeat: no-repeat;
  height: 100vh;
}

.about-me {
  background-color: var(--drkGrn);
  border-radius: 10px;
}