body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

:root {
    --drkRd: rgba(178, 38, 6);
    --ltRd: rgba(255, 112, 79);
    --mainCol: rgba(79, 255, 192);
    --drkGrn: rgba(37, 178, 128);
    --ltGrn: rgba(104, 255, 201);
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}



nav, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: var(--drkGrn);
  color: whitesmoke;
}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  right: 0;
}

nav a {
  color: whitesmoke;
}

nav a:hover {
  text-shadow: 5px 5px 5px black;
}

nav element:hover {
  cursor: pointer;
}

.hero, .projects-container, .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150vh;
  position: sticky;
  padding: 15px;
}

.hero {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.hero * {
  max-width: 500px;
}

.slideshow {
  background-color: rgba(37, 178, 128, 0.7);
}

.about-container {
  background-color: rgba(178, 38, 6, 0.7);
  height: inherit;
}

.hero p, .about-me {
  max-width: 500px;
}


.hero h1 {
  text-align: left;
}

.projects-container {
  color: whitesmoke;
}

.app-cards {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  max-width: 500px;
  border-radius: 10px;
  margin: 15px;
}

.projects-container h4 {
  padding: 10px;
}

.demo-link {
  background-color: var(--drkGrn);
  color: whitesmoke;
  border-radius: 5px;
  vertical-align: -webkit-baseline-middle;
  padding: 10px;
}

.about-me h1, .about-me p{
  padding: 10px;
}

#quiz-app-img, #second-app-img, #third-app-img {
  width: 70vw;
  max-width: 400px;
  margin: auto;
}



.app-details {
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.app-details li {
  vertical-align: -webkit-baseline-middle;
  margin: 5px;
}

.app-cards li h4 {
  font-size: 30px;
  margin: 5px;
}

.fas.fa-envelope {
  font-size: 30px;
  color: black;
}

.about-container {
  color: whitesmoke;
  height: 100vh;
}

.about-me {
  border-radius: 10px;
}

@media screen and (max-width: 380px) {
  .about-container {
    height: inherit;
  }

  .slider {
  width: 375px;
  }

}

/*slider code */
.slider {
  text-align: center;
  overflow: hidden;
  width: inherit;
  justify-content: space-evenly;
}

.slides {
  display: flex;
  overflow-x: auto;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  min-width: 320px;
  margin: auto;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  color: whitesmoke;
  flex-shrink: 0;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: whitesmoke;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

.slideshow {
  height: inherit;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.slideshow h1 {
  padding: 10px;
  color: whitesmoke;
}